.logo_principal_imagen{
    position: relative;
    text-align: center;
    color: white;
    height: 561px;
    background-image: url('../images/Imagen_principal_logo.jpg');
    background-size: cover;
    background-position: center;
}

.quienes_somos {

    & .dogs{
        display: flex;
        justify-content: space-between;
    }

    & div{
        height: 455px;
        max-width: 170px;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    img{
        height: 100%;
    }
    
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;

    & .mascotas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1000px;
        margin: auto;
    }

    & .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1000px;
        margin: auto;
        margin-top: 20px;
    }
}

.card {
    &_testimonios{
        position: relative;
    }

    & .circle{
        height: 90px;
        overflow: hidden;
        position: absolute;
        left: -20px;
        top: -20px;
        width: 90px;
    }

    & img {
        height: 90px;
        width: auto;
    }
}


.imagen_de_refugio1 img{
    max-width: 100%;
}

.ml-6{
    margin-left: 65px;
}

.max-w-600{
    max-width: 600px;
}

@media (min-width: 780px) {
    .refugio{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_imagen{
            min-width: 200px;
            width: 40%;
        }
        &_text{
            min-width: 200px;
            width: 40%;
        }
    }
}

@media (min-width: 1000px) {
    .quienes_somos{
        display: flex;
        justify-content: space-around;

        & .dogs{
            max-width: 50%;
            display: flex;
            justify-content: space-between;

            div{
                max-width: 200px;
            }

            &:first-child{
                margin-right: 20px;
            }
        }
    }
    
    .texts{
        max-width: 40%;
    }
}

@media (min-width: 1200px) {

    .refugio {

        &_imagen{
            width: 48%;
        }

        &_text{
            width: 48%;
        }
    }
}